app_base_package=cn.joy.demo.center
app_module_package=cn.joy.demo.center.module

app_default_module=user

app_local_server_tag=center
app_center_server_tag=center
app_center_server_url=
app_center_file_server_url=
app_default_app_server_url=
app_default_app_file_server_url=

plugin_mvc=spring
plugin_transaction=spring
plugin_route=spring

param_loginid=loginId
param_companycode=companyCode
param_accesstoken=accessToken





